{% extends 'base.html' %}

{% block content %}
  <main class="auth-page">
    <div class="vignette" aria-hidden="true"></div>

    <div class="logo-wrap">
      <img class="logo" src="https://qtrypzzcjebvfcihiynt.supabase.co/storage/v1/object/public/base44-prod/public/698aa096c5da0061265e8409/5ef85f072_ChatGPTImageFeb9202608_26_44PM.png" alt="Mueller Excavating Inc." />
    </div>



        <div class="card auth-card">
            <h5>Your account is not verified. <br>Please ensure you have contacted your network administrator for site access and have verified your email.</h5>
        </div>

    <p class="footer">© 2026 Mueller Excavating Inc. All rights reserved.</p>
  </main>
{% endblock %}
