{% extends 'base.html' %}

{% block content %}
  <main class="auth-page">
    <div class="vignette" aria-hidden="true"></div>

    <div class="logo-wrap">
      <img class="logo" src="https://qtrypzzcjebvfcihiynt.supabase.co/storage/v1/object/public/base44-prod/public/698aa096c5da0061265e8409/5ef85f072_ChatGPTImageFeb9202608_26_44PM.png" alt="Mueller Excavating Inc." />
    </div>



        <div class="card auth-card">
          <p>To gain web access, please complete the following tasks.</p>

          <ul class="list-group">
            <a href="#" class="list-group-item list-group-item-action list-group-item-dark">Verify your email by visiting your inbox <br>Click to resend</a>
            <li class="list-group-item list-group-item-dark d-flex justify-content-between align-items-left">
              Have your network admin accept your registration request
            </li>
          </ul>
        </div>

    <p class="footer">© 2026 Mueller Excavating Inc. All rights reserved.</p>
  </main>
{% endblock %}
